.cardOld {
  display: grid;
  grid-template-areas:
    'img'
    'bottom';
  grid-template-rows: min-content 20%;
  grid-template-columns: 100%;
}
.cardOld:hover {
  cursor: pointer;
  box-shadow: 0 0 0.5rem 0 #3cc47c;
}

.cardNew {
  display: flex;
  flex-direction: column;
}
.cardNew:hover {
  cursor: pointer;
  box-shadow: 0 0 0.5rem 0 #3cc47c;
}

.divIconImgOld {
  position: relative;
  height: 100%;
}

.divIconImgNew {
  background-color: lightgrey;
  position: relative;
  height: 100%;
}

.icons {
  z-index: 1000;
  display: flex;
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

.rating {
  margin-left: auto;
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.imgOld {
  grid-area: img;
  display: block;
  width: 100%;
}

.imgNew {
  grid-area: img;
  display: block;
  width: 100%;
}

.bottom {
  grid-area: bottom;
}

.title {
  padding: 0.125rem 0.5rem 0 0.5rem;
  margin-top: auto !important;
}

body .divider {
  /*margin-top: auto*/
  margin: 0.125rem auto 0.5rem auto;
  width: 90%;
}

.tags {
  padding: 0 0.5rem 0.5rem 0.5rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

body .chip {
  color: white;
}
