.title {
  display: flex;
  width: -moz-fit-content;
}

.commentIcon {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.titleText {
  padding-top: 0.25rem;
}

.btnAdd {
  padding: 0.25rem !important;
  margin-left: 0 !important;
  align-self: center;
}

.addComment {
  display: flex;
  align-items: center;
}

.newCommentCard {
  padding: 0.5rem;
  margin-top: 0.5rem;
}

.divider {
  margin: 0.25rem 0 0.25rem 0;
}

.listItemAvatar {
  max-width: 1.25rem;
}

.avatar {
  background-color: #3cc47c;
}
