.mainDiv {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  overflow-y: auto;
  padding: 1rem;
  height: calc(100vh - 3.5rem);
  width: 100%;
}

.splash {
  border-radius: 1.5rem;
  margin-top: 0;
  filter: drop-shadow(0 0 0.25rem gray);
}

.splash img {
  border-radius: 1.5rem;
}

body .viewRecipesBtn {
  margin-top: 1.5rem;
}

body .or {
  margin: 0.5rem;
}

.madeBy {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 1rem;
}

@media (min-width: 37.5em) {
  .mainDiv {
    height: calc(100vh - 4rem);
  }

  .splash {
    margin: 1rem 0;
  }
}
