.header {
  display: flex;
  align-items: center;
  width: 100%;
}

.addBtn {
  margin-left: 8px !important;
  cursor: pointer;
}

.card {
  padding: 0 8px 8px 8px;
  margin-bottom: 8px;
  left: auto !important;
}
.card:last-child {
  margin-bottom: 0;
}

.cardHeader {
  display: flex;
  align-items: center;
}

.cardIndex {
  font-weight: bolder !important;
}

.cardRemove {
  margin-left: auto !important;
  cursor: pointer;
}
